.input-group {
  display: flex;
  flex-direction: column;
}
.input-group label {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #52665A;
  margin-bottom: 10px;
}
.input-group input {
  width: 360px;
  height: 64px;
  background: #F5F8FA;
  border: 1px solid #D3E2E5;
  border-radius: 20px;
  padding: 20px;
}